<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="list_image">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Filename</th>
          <th>Preview</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="filename,stat : ${filenames}">
          <td th:text="${stat.count}" class="align-middle"></td>
          <td th:text="${filename}" class="align-middle"></td>
          <td><img th:src="@{'/images/db/' + ${filename}}" th:alt="${filename}" width="200" /></td>
          <td class="align-middle">
            <form th:action="@{'/' + ${filename} + '/delete'}" method="post">
              <button class="btn btn-danger">Delete</button>
            </form>
            <a th:href="@{'/' + ${filename} + '/replace'}" class="btn btn-info">Replace data</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</body>
</html>