<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Image management</h1>


    <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
    <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>

    <h2>Upload image</h2>
    <div th:replace="fragments/form_upload"></div>

    <h2>List of images</h2>
    <div th:replace="fragments/list_image"></div>
</div>
</body>
</html>